<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add mp4 file</title>
</head>
<body>
  <form action="/camera/addmp4" method="POST">
    <label>filename
      <input type="text" name="filename" />
    </label>
    <br>
    <label>filepath
      <input type="text" name="filepath" />
    </label>
    <br>
    <button type="submit">Add mp4</button>
  </form>

</body>
</html>