<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera</title>

</head>
<body>

    <ul class="menu">
        <li>
          <a href="/camera/add">카메라 추가</a>
        </li>
        <li>
          <a href="/camera/addmp4">mp4 파일추가</a>
        </li>
        <li>
          <a href="/camera/live">HLS Live</a>
        </li>
    </ul>
</body>
</html>